{% extends "layout.html" %}
{% block content %}
<div style="border-bottom: 6px solid red; background-color: #d3d3d391; border-top: 6px solid red;">
	<p style="font-family:Helvetica, Arial, sans-serif; margin:30px; text-align:justify; font-size:x-large;">
	Tata Consultancy Services Limited (TCS) is an Indian multinational information technology (IT) service and consulting company headquartered in Mumbai, Maharashtra, India. It is a subsidiary of Tata Group and operates in 46 countries.
	</p>
</div>
{% endblock content %}